<div class="credits-wrapper" [@routerAnimation]>

  <div class="credits-text-wrapper">
    <h1 class="credits-title">The Mill Game</h1>
    <p>
      &copy; by skeeks 2018. All rights reserved.
      <br><br>
      The following frameworks and fonts were used:
    </p>
    <ul style="text-align: left;">
      <li>
        <a href="https://cordova.apache.org/" target="_blank">Apache Cordova&trade; </a>
      </li>
      <li>
        <a href="http://angular.io" target="_blank">Angular 2</a>
      </li>
      <li>
        <a href="https://fonts.google.com/specimen/Mukta+Malar" target="_blank">Google Web Font "Mukta Malar"</a>
      </li>
    </ul>
    <br>
    <div class="button-container">
      <a class="leave button" routerLink="/">Back to Menu</a>
    </div>
  </div>

</div>