@import '../../definitions.scss';

.credits-wrapper {
    text-align: center;
    padding-top: 30%;
    @media only screen and (orientation : landscape) {
        padding-top: 5%;
    }
}

.credits-title {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 300%;
    text-align: center;
}

.credits-text-wrapper {
    display: block;
    color: white;
    padding: 10px;
    max-width: 500px;
    margin: auto;
    text-align: left;
    @media only screen and (orientation: landscape) {
        width: 40%;
    }
}

.button {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: $accent-color;
    padding: 10px 20px;
    margin: 10px;
    font-size: 100%;
    margin: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none !important;
    cursor: pointer;
}

a, a:link, a:visited {
    color: white;
    text-decoration: underline;
}

a:hover, a:active {
    color: white;
}