<div class="mill-game-wrapper" [@routerAnimation]>
  <div class="mill-board-spacer"></div>
  <div class="button-container">
    <a class="leave button" routerLink="/">Back to Menu</a>
  </div>
  <div class="mill-board">
    <div class="mill-board-relative-wrapper">

      <div class="outer-border"></div>

      <div class="middle-border"></div>

      <div class="inner-border"></div>

      <div class="first-horizontal-line"></div>
      <div class="second-horizontal-line"></div>
      <div class="first-vertical-line"></div>
      <div class="second-vertical-line"></div>

      <div *ngFor="let token of tokens;trackBy: trackById" [millToken]="token" class="token" [@disappearAnimation]></div>

      <div *ngFor="let suggestion of suggestions" [millSuggestion]="suggestion" class="suggestion" (click)="onSuggestionClicked(suggestion)" [@disappearAnimation]></div>
    </div>
  </div>

  <div class="winner-dialog" *ngIf="winner">
    <h2>
      Player {{winner.name}} has won!
    </h2>
    <div class="actions-after-finish">
      <a class="restart button" (click)="restartGame()">Play again</a>
      <a class="menu button" routerLink="/">Menu</a>
    </div>
  </div>
</div>