@import '../../definitions.scss';

.mill-game-wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.mill-board {
    padding: 10vw;
    width: 100vw;
    height: 100vw;
    margin: auto;
    box-sizing: border-box;
  }
  @media only screen and (orientation : portrait) { 
      .mill-board-spacer { 
          height: calc(50vh - 50vw);
      }
  }
  @media only screen and (orientation : landscape) {
      .mill-board {
          width: 100vh;
          height: 100vh;
          padding: 5vh;
      }
  }
.mill-board-relative-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .outer-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: $mill-board-border-width;
    border-color: $mill-board-border-color;
    border-style: $mill-board-border-style;
    background-color: transparent;
  }
  
  .middle-border {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    border-width: $mill-board-border-width;
    border-color: $mill-board-border-color;
    border-style: $mill-board-border-style;
    background-color: transparent;
  }
  
  .inner-border {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 40%;
    border-width: $mill-board-border-width;
    border-color: $mill-board-border-color;
    border-style: $mill-board-border-style;
    background-color: transparent;
  }

  
  .first-horizontal-line, 
  .second-horizontal-line{
    position: absolute;
    left: 0;
    top: 50%;
    width: calc(30%);
    height: 0;
    border-top-width: $mill-board-border-width;
    border-top-color: $mill-board-border-color;
    border-top-style: $mill-board-border-style;
    background-color: transparent;
  }
  
  .second-horizontal-line {
    left: calc(70%);
  }
  .first-vertical-line,
  .second-vertical-line {
    position: absolute;
    left: calc(50% - #{$mill-board-border-width / 2});
    top: 0;
    height: calc(30%);
    width: 0;
    border-right-width: $mill-board-border-width;
    border-right-color: $mill-board-border-color;
    border-right-style: $mill-board-border-style;
    background-color: transparent;
  }
  
  .second-vertical-line {
    top: calc(70%);
  }
  
  .token, .suggestion {
    position: absolute;
    width: $mill-token-size;
    height: $mill-token-size;
    margin-left: calc(#{-$mill-token-size / 2});
    margin-top: calc(#{-$mill-token-size / 2} + #{$mill-board-border-width / 2});
    transition: left 0.6s, top 0.6s;
  }

  .token {
    border-radius: $mill-token-size;
    border: 0px solid transparent;
    background-color: red;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.4);
    animation: tokenAppear 0.3s 1 ease-in-out 0s forwards;
  }
  
  .suggestion {
    border-radius: $mill-token-size;
    border: 0.2em solid black;
    transform: scale(0);
    animation: suggestionAppear 0.3s 1 ease-in-out 0s forwards;
    cursor: pointer;
  }
  @keyframes tokenAppear {
    from {
      transform: scale(0);
      opacity: 0;
    }
    80% {
      transform: scale(1.3);
      opacity: 1;
    }
    to {
      transform: scale(1);
    }
  }
  @keyframes suggestionAppear {
    from {
      transform: scale(0);
      opacity: 0;
    }
    80% {
      transform: scale(1.5);
      opacity: 1;
    }
    to {
      transform: scale(1.3);
    }
  }
  @keyframes rotate {
    from {
      transform: scale(1.3) rotate(0deg);
    }
  
    50% {
      transform: scale(1.3) rotate(180deg);
    }
  
    to {
      transform: scale(1.3) rotate(360deg)
    }
  }

  .token.last-row,
  .suggestion.last-row {
    margin-top: calc(#{-$mill-token-size / 2} - #{$mill-board-border-width / 2});
  }

  .token.first-col,
  .suggestion.first-col {
    margin-left: calc(#{-$mill-token-size / 2} + #{$mill-board-border-width / 2});
  }
  .token.last-col,
  .suggestion.last-col {
    margin-left: calc(#{-$mill-token-size / 2} - #{$mill-board-border-width / 2});
  }

  .winner-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: $dialog-color;
    padding: 20% 20px;
    z-index: 200;
    animation: suggestionAppear 0.3s 1 ease-in-out 0s forwards;

    @media only screen and (orientation: portrait){
      padding: 40% 20px;
    }
  }

  .button {
      display: inline-block;
      color: white;
      text-decoration: none;
      background-color: $accent-color;
      padding: 10px 20px;
      margin: 10px;
      font-size: 100%;
      margin: auto;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      cursor: pointer;
  }

  .button-container {
    position: absolute;
    top: -5px;
    left: -5px;
    transition: 0.2s left, 0.2s color;
    z-index: 100;
  }

