@import '../../definitions.scss';

.menu-wrapper {
    text-align: center;
    padding-top: 30%;
    @media only screen and (orientation : landscape) {
        padding-top: 5%;
    }
}

.menu-title {
    font-size: 300%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.button {
    display: block;
    color: white;
    text-decoration: none;
    background-color: $accent-color;
    padding: 10px;
    width: 80%;
    font-size: 200%;
    margin: 2vh auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    @media only screen and (orientation : landscape) {
        width: 40%;
    }

}