<div class="menu-wrapper" [@routerAnimation]>
  <h1 class="menu-title">The Mill Game</h1>

  <a class="play button" routerLink="/mill-game">Play</a>
  <a class="credits button" routerLink="/credits">Credits</a>
</div>