/***********************
*** GLOBAL VARIABLES ***
***********************/

$bg-color: #1160AA;
$accent-color: #161D6E;
$dialog-color: #2980b9;

$mill-board-border-width: 0.6vw;
$mill-board-border-color: white;
$mill-board-border-style: solid;

$mill-token-size: 2.2em;
/** TYPOGRAPHY **/
$font-family: 'Mukta Malar', sans-serif;