@import 'definitions.scss';

html, body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    color: white;
    font-family: $font-family;
    overflow: hidden;
}

.app-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: $bg-color;
    overflow: auto;
}

  *, *:before, *:after {
    box-sizing: inherit;
    font-family: inherit;
  }